body {background-color: #F8B195;


}



h1 {
  color: #C06C84 ;
  text-align: center;
}

h2 {
  color: #C06C84 ;
  text-align: center;
}

p {
  width: 600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #355C7D ;
  font-weight: 200;
  font-variant-ligatures: normal;
  font-size: 1rem;
  letter-spacing: 1px;
}

li {
  width: 600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #355C7D ;
  font-weight: 200;
  font-variant-ligatures: normal;
  font-size: 1rem;
  letter-spacing: 1px;
}

#starfish {
  display: block;
  margin-left: auto;
  margin-right: 0;

}


/*#email {

  display: inline;
  margin-left: auto;
  margin-right: auto;

}

#phone {

  display: inline;
  margin-left: auto;
  margin-right: auto;

}

#linkedin {

  display: inline;
  margin-left: auto;
  margin-right: auto;

}*/

#picture {
  display: block;
  margin-left: 0;
  margin-right: auto;

}

#maze {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: 0 auto;
  display: block;
}




#chatbot {
  text-align: center;
}


.row-1 {
  /* display: flex; */
  /* flex-direction: horizontal; */
  text-align: center;
}

.row-2 {
  display: flex;
  flex-direction: horizontal;

}
.column-1 {
  flex: 50%;
  padding: 10px;

  margin-left: auto;
  margin-right: 0;
}

.column-2 {
  flex: 50%;
  padding: 10px;
  margin-right: auto;
  margin-left: 0;

}

.column-center {
  flex: 33%;
  padding: 0px;

  margin-right: auto;
  margin-left: auto;
}

.column-right {
  flex: 33%;
  padding: 0px;
  margin-right: auto;
  margin-left: 0;

}

.column-left {
  flex: 33%;
  padding: 0px;

  margin-left: auto;
  margin-right: 0;
}

#email {
  width: 25%;
  padding: 30px;

  margin-left: auto;
  margin-right: 0;
}

/* .help {
  text-align: center;
} */

#phone {
  width: 25%;
  padding: 30px;

  margin-left: auto;
  margin-right: auto;
}

#linkedin {
  width: 25%;
  padding: 30px;

  margin-left: 0;
  margin-right: auto;
}

.topnav {
  background-color: #6C5B7B ;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #F67280;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #6C5B7B ;
  color: #F67280;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #355C7D ;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
